body {
  position: relative;
  font-family: $primary-font;
  background-color: $primary-background;
  color: $primary-text-color;
  padding-top: 81px;
}

main {
  position: relative;
  top: -40px;
  margin-top: -81px;
}

h2,
h3 {
  margin: 0;
}

.padding {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
