// colors
$accent-color: #156963;
$primary-text-color: #2c1500;
$secondary-text-color: #000000;
$footer-text-color: #4f4f4f;
$plantuki-house-color: #333333;
$buttons-text-color: #fafefe;
$slider-pagination-color: rgba(51, 51, 51, 0.5);

// fonts
$primary-font: 'Montserrat', sans-serif;
$button-font: 'Nunito', sans-serif;
$logo-font: 'Poppins', sans-serif;
$footer-font: 'Work Sans', sans-serif;

// main
