<section class="article container">
  <div class="article-preview">
    <h2 class="article-title">Buy more plants, it helps you to be relaxed</h2>
    <p class="article-descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida
      gravida aliquam. Pellentesque et lobortis nisl. Sed et mauris justo. Nulla
      eu enim non mauris maximus dignissim. Maecenas vitae eros sapien. Quisque
      pellentesque tempus dignissim.
    </p>
    <img
      class="article-small-img"
      srcset="
        ./images/buy-more/horizontal/buy-more-horizontal-320.jpg    320w,
        ./images/buy-more/horizontal/buy-more-horizontal-568.jpg    568w,
        ./images/buy-more/horizontal/buy-more-horizontal-1136.jpg  1136w,
        ./images/buy-more/horizontal/buy-more-horizontal-1704.jpg 17048w
      "
      src="./images/buy-more/horizontal/buy-more-horizontal-320.jpg"
      alt=""
    />
  </div>
  <div class="article-image">
    <img
      srcset="
        ./images/buy-more/vertical/buy-more-vertical-320.jpg   320w,
        ./images/buy-more/vertical/buy-more-vertical-513.jpg   513w,
        ./images/buy-more/vertical/buy-more-vertical-1026.jpg 1026w,
        ./images/buy-more/vertical/buy-more-vertical-1539.jpg 1539w
      "
      src="./images/buy-more/vertical/buy-more-vertical-320.jpg"
      alt=""
    />
  </div>
</section>
