<section class="benefits container" aria-label="Benefits section">
  <h2 class="benefits-title visually-hidden">Benefits</h2>
  <ul class="benefits-list" aria-label="List of Benefits">
    <li class="benefits-item">
      <div class="benefits-header">
        <svg class="benefits-icon" width="48" height="48">
          <use href="./images/sprite.svg#icon-fast"></use>
        </svg>
        <h3 class="benefits-subtitle">
          Fast <br />
          Delivery
        </h3>
      </div>
      <p class="benefits-descr">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
    </li>
    <li class="benefits-item">
      <div class="benefits-header">
        <svg class="benefits-icon" width="48" height="48">
          <use href="./images/sprite.svg#icon-headphones"></use>
        </svg>
        <h3 class="benefits-subtitle">Great Customer Service</h3>
      </div>
      <p class="benefits-descr">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
    </li>
    <li class="benefits-item">
      <div class="benefits-header">
        <svg class="benefits-icon" width="48" height="48">
          <use href="./images/sprite.svg#icon-plant"></use>
        </svg>
        <h3 class="benefits-subtitle">
          Original <br />
          Plants
        </h3>
      </div>
      <p class="benefits-descr">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
    </li>
    <li class="benefits-item">
      <div class="benefits-header">
        <svg class="benefits-icon" width="48" height="48">
          <use href="./images/sprite.svg#icon-dollar-symbol"></use>
        </svg>
        <h3 class="benefits-subtitle">
          Affordable <br />
          Price
        </h3>
      </div>
      <p class="benefits-descr">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
    </li>
  </ul>
</section>
