<section class="call-to-action container padding">
  <div class="text">
    <p class="title">Get your favourites plant on our shop now</p>
    <a class="button green" href="#">Visit Shop</a>
  </div>
  <img
    class="photo"
    srcset="
      ./images/callToAction/visit-shop-320.jpg   320w,
      ./images/callToAction/visit-shop-402.jpg   402w,
      ./images/callToAction/visit-shop-804.jpg   804w,
      ./images/callToAction/visit-shop-1206.jpg 1206w
    "
    src="./images/callToAction/visit-shop-320.jpg"
    alt=""
  />
</section>
