<section class="featured container padding">
  <div class="title-wrapper">
    <h2 class="featured-title" aria-label="Section Featured Plants">
      Featured Plants
    </h2>
    <select
      class="featured-select"
      name="featured-select"
      id=""
      aria-label="Section's Filter of Featured Plants "
    >
      <option aria-label="Cheaper fist option" value="cheaper">
        cheaper fist
      </option>
      <option aria-label="Expensive fist option" value="expensive">
        expensive first
      </option>
    </select>
    <!-- <div class="featured-filter"></div> -->
  </div>
  <ul class="featured-list" aria-label="Featured plants list"></ul>
</section>
