<section class="featured container padding">
    <div class="title-wrapper">
        <h2 class="featured-title" aria-label="Section Featured Plants">Featured Plants</h2>
        <select class="featured-select" name="featured-select" id="" aria-label="Section's Filter of Featured Plants ">
            <option aria-label="Cheaper fist option" value="cheaper">cheaper fist</option>
            <option aria-label="Expensive fist option" value="expensive">expensive first</option>
        </select>
        <!-- <div class="featured-filter"></div> -->
    </div>
    <ul class="featured-list" aria-label="Featured plants list">
        <li class="featured-item">
            <img class="item-image" src="./images/kaktus-plant.jpg" alt="">
            <h3 class="item-title">Kaktus Plants</h3>
            <p class="item-price">
                <span class="currensy">IDR </span>
                <span class="price">85.000</span>
            </p>
        </li>
        <li class="featured-item">
            <img class="item-image" src="./images/landak-plants.jpg" alt="">
            <h3 class="item-title">Landak Plants</h3>
            <p class="item-price">
                <span class="currensy">IDR </span>
                <span class="price">105.000</span>
            </p>
        </li>
        <li class="featured-item">
            <img class="item-image" src="./images/kecubung-plants.jpg" alt="">
            <h3 class="item-title">Kecubung Plants</h3>
            <p class="item-price">
                <span class="currensy">IDR </span>
                <span class="price">85.000</span>
            </p>
        </li>
        <li class="featured-item">
            <img class="item-image" src="./images/kecubung-plants-2.jpg" alt="">
            <h3 class="item-title">Kecubung Plants</h3>
            <p class="item-price">
                <span class="currensy">IDR </span>
                <span class="price">75.000</span>
            </p>
        </li>
        <li class="featured-item">
            <img class="item-image" src="./images/kecubung-plants-3.jpg" alt="">
            <h3 class="item-title">Kecubung Plants</h3>
            <p class="item-price">
                <span class="currensy">IDR</span>
                <span class="price">120.000</span>
            </p>
        </li>
    </ul>
</section>