<footer class="footer">
    <div class="footer-container">
        <div class="shop-info">
            <p class="footer-logo">plantku</p>
            <h4 class="shop-name">Plantku House</h4>
            <address class="shop-address">Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282
            </address>
        </div>
        
        <div class="company-data">
            <h4 class="title">Perusahaan</h4>
            <p class="data">Tentang Kami</p>
            <p class="data">Hubungi Kami</p>
        </div>
        
        <div class="company-data">
            <h4 class="title">Produk</h4>
            <p class="data">Tanaman</p>
            <p class="data">Tanaman Lain</p>
        </div>
        <form action="" class="subscribe">
            <label for="">
                Berlangganan Email Kami
                <input type="text" placeholder="Masukan Alamat Email">
                
            </label>
            <button class="button green footer-btn" type="submit">Submit</button>
        </form>
    </div>

</footer>