<header class="header">

  <!-- Site menu -->
    <div class="navbar container">
      <a class="logo" aria-label="Логотип магазина">
        <svg class="logo-icon" width='36' height='36'>
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a class='search-link' href="#">
        <svg class="icon search" width='20' height='20'>
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </a>
      <a class='search-link' href="#">
        <svg class="icon cart" width='20' height='20'>
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </a>  
        <div class="buttons">
            <a class="button" href="#">Sign Up</a>
            <a class="button active" href="#">Sign In</a>
        </div>
    </div>

    <!-- Main slider -->
    <div class="slider">
      <div class="slider-image" data-image>
        <img src="./images/slider/slider1.jpg" alt="">
      </div>
      <div class="slider-info" data-info>
          <h1 class='slider-title'>kembang flower mantap</h1>
          <p class="slider-descr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, </p>
          <div class="slider-buttons" data-controls>
            <button class="slider-button" type='button' data-action='previous'>
              <div class="arrow">
                <span class="arrow-pagination">
                  <svg class="icon" width='32' height='32'>
                    <use href="./images/sprite.svg#icon-left-arrow"></use>
                  </svg>
                </span>
                <span class="arrow-text prev">Previous</span>
              </div>
              <span class="button-title">Kaktus Plant</span>
            </button>
            <button class="slider-button" type='button' data-action='next'>
              <div class="arrow">
                <span class="arrow-text next">next</span>
                <span class="arrow-pagination">
                  <svg class="icon" width='32' height='32'>
                    <use href="./images/sprite.svg#icon-right-arrow"></use>
                  </svg>
                </span>
              </div>
              <span class="button-title">Rahasia Plant</span>
            </button>
          </div>
      </div>
      
      </div>

</header>

