<header class="header">

  <!-- Site menu -->
    <div class="navbar container">
      <a class="logo" aria-label="Логотип магазина">
        <svg class="logo-icon" width='36' height='36'>
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a class='search-link' href="#">
        <svg class="icon search" width='20' height='20'>
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </a>
      <a class='search-link' href="#">
        <svg class="icon cart" width='20' height='20'>
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </a>  
        <div class="buttons">
            <a class="button" href="#">Sign Up</a>
            <a class="button active" href="#">Sign In</a>
        </div>
    </div>

    

</header>

