.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $backdrop-background;
  z-index: 11;
  display: none;

  body.show-modal & {
    display: block;
  }
}

body.show-modal {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
