.buttons {
  display: flex;
}
.button {
  display: inline-block;
  padding: 8px 32px;

  font-family: $button-font;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;

  &.green {
    color: $buttons-text-color;
    background-color: $accent-color;

    &:hover,
    &:focus {
      color: $accent-color;
      background-color: $primary-background;
    }
  }

  &.white {
    color: $accent-color;
    background-color: $primary-background;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $buttons-text-color;
    }
  }

  .active {
    background-color: $accent-color;
    color: $buttons-text-color;
  }
}
