.container {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
}
