.container {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  & div {
    margin-bottom: 20px;
  }
}
