.header {
  position: relative;
  margin-top: -40px;
  z-index: 10;

  .navbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    @media (min-width: $desktop) {
      padding-left: 0;
      padding-right: 0;
    }

    .logo {
      display: inline-block;
      flex-grow: 1;
      cursor: pointer;
    }

    .options-wrapper {
      position: absolute;
      top: -25px;
      right: 15px;
      display: flex;
      align-items: center;

      @media (min-width: $tablet) {
        position: relative;
        top: 0;
        right: 0;
      }

      & > *:not(:last-child) {
        margin-right: 15px;

        @media (min-width: $tablet) {
          margin-right: 30px;
        }
      }

      & > *:last-child {
        @media (min-width: $tablet) {
          margin-right: 15px;
        }
      }

      .options-button {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .options-icon {
      fill: $buttons-text-color;
      width: 20px;
      height: 20px;

      @media (min-width: $tabletMd) {
        fill: $primary-text-color;
      }
    }
  }
}
