.header {
  position: sticky;
  top: 40px;
  z-index: 10;

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;

    .logo {
      display: inline-block;
      flex-grow: 1;
    }

    .icon {
      fill: $primary-text-color;

      &.search {
        margin-right: 40px;
      }

      &.cart {
        margin-right: 8px;
      }
    }
  }
}
