.slider {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  background: $slider-gradient;

  &-container {
    display: flex;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }

  &-image {
    width: 608px;
    & img {
      display: block;
    }
  }

  &-info {
    width: 100%;
  }

  &-title {
    max-width: 523px;
    margin-top: 188px;
    margin-bottom: 24px;
    margin-left: 77px;
    // margin-right: 77px;

    font-family: $primary-font;
    font-size: 68px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;

    color: $accent-color;
  }

  .slider-descr {
    width: 493px;
    margin-left: 77px;
    margin-top: 0;
    margin-bottom: 108px;

    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
  }

  &-buttons {
    display: flex;
    align-items: center;
  }

  &-button {
    display: flex;
    border: none;
    width: 50%;
    flex-direction: column;
    padding: 38px 49px;
    background-color: #fff;

    font-weight: 500;
    line-height: 1.2;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $buttons-text-color;

      & .button-title {
        color: $buttons-text-color;
      }
    }

    .arrow {
      display: flex;
      margin-bottom: 12px;
      align-items: center;
      font-size: 24px;
      text-transform: capitalize;
      color: $slider-pagination-color;

      &-text.prev {
        margin-left: 8px;
      }
      &-text.next {
        margin-right: 8px;
      }

      &-pagination {
        display: flex;
        align-items: center;
      }
    }

    .button-title {
      font-size: 32px;
      text-transform: capitalize;
      color: $accent-color;
    }
  }
}
